[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Airtools
Comment=Astronomical Image Reduction Toolset
Categories=Education;Science;Astronomy;
Exec=airtools -a
Icon=airtools
Terminal=false
StartupNotify=true
