[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Airtools
#Name[de]=Eigene Dateien
Comment=Astronomical Image Reduction Toolset
Categories=Education;Science;Astronomy;
Exec=airtools -a
Icon=system-run
Terminal=false
StartupNotify=true
#MimeType=x-directory/normal;inode/directory;
