Source: airtools
Section: science
Priority: optional
Maintainer: Thomas Lehmann <t.lehmann@mailbox.org>
Build-Depends: debhelper (>= 9), javahelper (>=0.25), dh-strip-nondeterminism,
 libnetpbm-dev | libnetpbm10-dev, libjpeg-dev, inkscape
Standards-Version: 3.9.8
Homepage: https://github.com/ewelot/airtools

Package: airtools
Architecture: any
Depends: airtools-core (= ${binary:Version}), saods9 | saods9-bin, stilts,
 astrometry.net, astrometry-data-tycho2-10-19, astrometry-data-tycho2-09,
 astrometry-data-tycho2-08, missfits, scamp, sextractor | source-extractor,
 skymaker, stiff, swarp, libfits-java, aladin
 ${misc:Depends}
Recommends: airtools-doc, darktable
Description: Astronomical Image Reduction TOOLSet
 AIRTOOLS is a collection of programs to aim at astronomical image reduction
 of both CCD and DSLR observations on Linux. The main tasks are implemented as
 shell functions (bash) in a single file airfun.sh. GUI functionality is
 provided by means of analysis tasks for the (external) SAOImage DS9 viewer.

Package: airtools-core
Architecture: any
Depends: imagemagick, graphicsmagick, netpbm, gnuplot-x11, librsvg2-bin, exiv2,
 libglib2.0-bin, potrace, plplot12-driver-cairo | plplot-driver-cairo, exiftool,
 bc, curl, wget, w3m, gawk, yad, parallel, pigz, dstat, jq, at, xdotool,
 dbus-x11, x11-utils, mousepad, feh, libvips42 (>=8.13.3), libvips-tools (>=8.13.3),
 python3-numpy, python3-scipy, python3-pip, python3-exifread, python3-matplotlib,
 python3-astroquery, python3-photutils, python3-pyregion,
 python3-pyvips (>=2.2.1), python3-rawpy,
 cfitsio-examples (>=0.3), libcfitsio-bin, xpa-tools, wcstools, fitsverify,
 default-jre-headless, openjfx, ${shlibs:Depends}, ${misc:Depends}
Suggests: airtools
Description: Astronomical Image Reduction TOOLSet - Core components
 AIRTOOLS is a collection of programs to aim at astronomical image reduction
 of both CCD and DSLR observations on Linux. The main tasks are implemented as
 shell functions (bash) in a single file airfun.sh. GUI functionality is
 provided by means of analysis tasks for the (external) SAOImage DS9 viewer.
 .
 This package provides the core components but does not install all required
 third-party software packages.

Package: airtools-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Astronomical Image Reduction TOOLSet - Documentation
 AIRTOOLS is a collection of programs to aim at astronomical image reduction
 of both CCD and DSLR observations on Linux. The main tasks are implemented as
 shell functions (bash) in a single file airfun.sh. GUI functionality is
 provided by means of analysis tasks for the (external) SAOImage DS9 viewer.
 .
 This package contains the user documentation.
