Source: airtools
Section: science
Priority: optional
Maintainer: Thomas Lehmann <t_lehmann@freenet.de>
Build-Depends: debhelper (>= 9), javahelper (>=0.25), libnetpbm10-dev,
 libjpeg-dev, dh-strip-nondeterminism
Standards-Version: 3.9.8
Homepage: https://github.com/ewelot/airtools

Package: airtools
Architecture: any
Depends: airtools-core (= ${binary:Version}), saods9 | saods9-bin, stilts,
 astrometry.net, astrometry-data-tycho2-10-19, astrometry-data-tycho2-09,
 missfits, scamp, sextractor, skymaker, stiff, swarp,
 ${misc:Depends}
Recommends: airtools-doc, aladin, darktable, astrometry-data-tycho2-08
Description: Astronomical Image Reduction TOOLSet
 AIRTOOLS is a collection of programs to aim at astronomical image reduction
 of both CCD and DSLR observations on Linux. The main tasks are implemented as
 shell functions (bash) in a single file airfun.sh. GUI functionality is
 provided by means of analysis tasks for the (external) SAOImage DS9 viewer.

Package: airtools-core
Architecture: any
Depends: imagemagick, graphicsmagick, netpbm, gnuplot-x11, librsvg2-bin, exiv2,
 potrace, plplot12-driver-cairo | plplot-driver-cairo, exiftool, bc, curl, wget,
 gawk, yad, parallel, pigz, dstat,
 python3, python3-numpy, python3-ephem, python3-pyvips, libvips42 (>=8.10.5),
 cfitsio-examples (>=0.3), libcfitsio-bin, xpa-tools, wcstools, fitsverify,
 mousepad, default-jre-headless, openjfx, ${shlibs:Depends}, ${misc:Depends}
Suggests: airtools
Description: Astronomical Image Reduction TOOLSet - Core components
 AIRTOOLS is a collection of programs to aim at astronomical image reduction
 of both CCD and DSLR observations on Linux. The main tasks are implemented as
 shell functions (bash) in a single file airfun.sh. GUI functionality is
 provided by means of analysis tasks for the (external) SAOImage DS9 viewer.
 .
 This package provides the core components but does not install all required
 third-party software packages.

Package: airtools-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Astronomical Image Reduction TOOLSet - Documentation
 AIRTOOLS is a collection of programs to aim at astronomical image reduction
 of both CCD and DSLR observations on Linux. The main tasks are implemented as
 shell functions (bash) in a single file airfun.sh. GUI functionality is
 provided by means of analysis tasks for the (external) SAOImage DS9 viewer.
 .
 This package contains the user documentation.
